@use "sass:map";
@use "@angular/material" as mat;

$stark-typography-theme: null !default;

// https://material.angular.io/guide/typography
$typography-theme: (
  font-family: "BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif",
  headline-1: (
    112px,
    112px,
    300
  ),
  headline-2: (
    56px,
    56px,
    400
  ),
  headline-3: (
    45px,
    48px,
    400
  ),
  headline-4: (
    34px,
    40px,
    400
  ),
  headline-5: (
    24px,
    32px,
    400
  ),
  headline-6: (
    20px,
    32px,
    500
  ),
  subtitle-1: (
    16px,
    28px,
    400
  ),
  subtitle-2: (
    15px,
    24px,
    400
  ),
  body-1: (
    14px,
    24px,
    500
  ),
  body-2: (
    14px,
    20px,
    400
  ),
  caption: (
    12px,
    20px,
    400
  ),
  button: (
    14px,
    16px,
    500
  )
) !default;

@if $stark-typography-theme != null {
  $typography-theme: map.merge($typography-theme, $stark-typography-theme);
}

@function define-typography-level-from-list($list) {
  @return mat.define-typography-level($list...);
}

//TO DO: Document correspondance with html tags
$typography-config: mat.define-typography-config(
  $font-family: map.get($typography-theme, font-family),
  $headline-1: define-typography-level-from-list(map.get($typography-theme, headline-1)),
  $headline-2: define-typography-level-from-list(map.get($typography-theme, headline-2)),
  $headline-3: define-typography-level-from-list(map.get($typography-theme, headline-3)),
  $headline-4: define-typography-level-from-list(map.get($typography-theme, headline-4)),
  $headline-5: define-typography-level-from-list(map.get($typography-theme, headline-5)),
  $headline-6: define-typography-level-from-list(map.get($typography-theme, headline-6)),
  $subtitle-1: define-typography-level-from-list(map.get($typography-theme, subtitle-1)),
  $subtitle-2: define-typography-level-from-list(map.get($typography-theme, subtitle-2)),
  $body-1: define-typography-level-from-list(map.get($typography-theme, body-1)),
  $body-2: define-typography-level-from-list(map.get($typography-theme, body-2)),
  $caption: define-typography-level-from-list(map.get($typography-theme, caption)),
  $button: define-typography-level-from-list(map.get($typography-theme, button))
) !default;
